.Rproj.user
.Rhistory
.RData

.DS_Store

StabilityWMetaG.tar
selected
data/mothur/README.md
code/mothur/*
data/*/*
!data/process/*
!README.md
submission/practice_cache/

*.qsub*
mothur*logfile
*temp*
*.docx
